* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Verdana', sans-serif;
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/164853/pexels-photo-164853.jpeg?h=350&auto=compress&cs=tinysrgb) no-repeat center /cover;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  margin: 0 150px;
  max-width: 1400px;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.button {
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
  border-radius: 5px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: rgba(255, 224, 0, 0.4);
  transition: all 0.09s;
}

.button kbd {
  color: #fff;
  font-size: 40px;
}

.button span {
  color: #fff;
  font-size: 12px;
}

/* additional class for tapped button */

.tapped {
  border: 5px solid #fff;
  transform: scale(1.2);
  box-shadow: 0 0 10px #fff;
}